/* Paramétrage des couleurs */
$mainColor: rgb(0, 198, 249);
$shadowMainColor: 0 0 10px $mainColor;

/* latin-ext */
@font-face {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/Dosis.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Actions et boutons */
#actions {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	flex-direction: row;

	button,
	.button, .btn {
		right: 20px;
		margin-left: 20px;
		padding: 0.375rem 0.75rem;
		background-color: $mainColor;
		transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		line-height: 1.5;
		font-size: 1rem;
		font-weight: 400;
		color: white;

		&:hover {
			box-shadow: $shadowMainColor;
		}

		&:focus {
			outline: none;
		}
	}
}

/* Thumbnail de vidéo pour relancer la vidéo précédente */
#thumbnail {
	position: fixed;
	z-index: 90;
	left: 20px;
	bottom: 20px;
	transition: all 0.4s ease-in;
	cursor: pointer;
	transform-origin: bottom left;

	&.small {
		transform: scale(0.1);
		transform-origin: bottom left;
	}
}