@import 'app';

body {
	background-color: black;

	#actions {
		.button, .btn {
			&:hover {
				box-shadow: 0 0px 20px $mainColor;
			}
		}
	}
}


#player {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: #000000 !important;

	.module-media-video {
		margin: 0 !important;
		background-color: #000000 !important;

		.module-media-video-inner {
			background-color: #000000 !important;
			
			video,
			video:focus {
				outline: none;
				background-color: #000000 !important;
			}
		}
	}
}