<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<link type="text/css" href="css/com-digitale/knooter.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>
<div class="container-fluid">
    <div class="row">
		<nav class="navbar navbar-light fixed-top bg-light">
			<div class="container">
				<div>
					<!-- <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="" loading="lazy"> -->
					<span class="navbar-brand mb-0 h1">Knooter</span>
				</div>
				<div>
					TEST
				</div>
			</div>
		</nav>
    </div>
	<div id="knoots">
		<div class="knoot knoot-0">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>.</p>
		</div>
		<div class="knoot knoot-1">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-2">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-3">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-4">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-5">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-6">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-7">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-8">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
		<div class="knoot knoot-9">
			<h2>Prénom NOM [at]pseudo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dolor quis nisi gravida aliquet ac ac libero. Etiam consequat metus dui, non facilisis tellus faucibus vitae.</p>
		</div>
	</div>
	<div id="more">Vous êtes à jour dans les knoots.</div>
</div>

<!-- START // Scripts in footer -->
<script src="js/comdigitale/knooter.js"></script>
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>