<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>
<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
<link href="css/comdigitale/style-knooter.css" rel="stylesheet"/>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <H1>Knooter</H1>
        </div>
    </div>
	
</div>

<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>