<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/comdigitale/style-knooter.css" rel="stylesheet"/>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <H1>Knooter</H1>
        </div>
        <button id="stopButton" type="button">STOP THIS BUZZER !!!!</button>
    </div>
	
</div>

<!-- START // Scripts in footer -->
<script>
    $(document).ready(function() {
        socket.emit('toserver.start', {});
        $("#stopButton").on('click', function(e) {
            socket.emit('toserver.stop', {});
        });
    });
</script>
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>
