$roundSize: 450px;

body {
	padding: 0;
	margin: 0 !important;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-width: 100%;
	width: 100%;
	margin: 0px;
	background: radial-gradient(#CECECE, #fff);

	#ArduinoMessage {
		transition: 0.2s linear all;
		width: $roundSize;
		height: $roundSize;

		&.hidden {
			opacity: 0;
		}

		&.first-card-scanned {
			.loader:before {
				box-shadow: 0 -10px 20px 20px #00C6F940 inset, 0 -5px 15px 10px #00C6F950 inset, 0 -2px 5px #00C6F980 inset, 0 -3px 2px #00C6F9BB inset, 0 2px 0px #00C6F9, 0 2px 3px #00C6F9, 0 5px 15px #00C6F990, 0 10px 55px #00C6F960, 0 10px 40px 30px #00C6F940;
				transform: none;
				animation: none;
			}
		}
	}

	.content {
		width: $roundSize;
		height: $roundSize;
		border-radius: 100%;
		background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
		position: relative;
	}
}

.loader {
	line-height: 450px;
	text-align: center;


	&:before {
		transition: 0.2s linear all;
		position: absolute;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 100%;
		border-bottom: 0 solid #ffffff05;
		
		box-shadow: 
			0 -10px 20px 20px #ffffff40 inset,
			0 -5px 15px 10px #ffffff50 inset,
			0 -2px 5px #ffffff80 inset,
			0 -3px 2px #ffffffBB inset,
			0 2px 0px #ffffff,
			0 2px 3px #ffffff,
			0 5px 5px #ffffff90,
			0 10px 15px #ffffff60,
			0 10px 20px 20px #ffffff40;
		filter: blur(3px);
		animation: 2s rotate linear infinite;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}