@import '../app';
@import 'code-et-prog';

$indentation: 50px;

body .container {
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	.navbar {
		display: flex;
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,.125);
	}

	.row {
		flex: 1 0 auto;
		margin: 0;

		.files-list,
		.files-details {
			padding: 0;
		}

		.files-list {
			border-right: 1px solid rgba(0,0,0,0.125);

			ul {
				margin: 0;
				padding: 15px;
				list-style: none;

				li {
					display: inline-block;
					padding: 0px 5px;
					margin: 5px 0;
					list-style: none;
					max-width: 100%;
					border-radius: 5px;
					border: 1px solid transparent;

					&.active {
						background: rgba(0,0,0,0.025);
						border-color: rgba(0,0,0,0.125);
					}

					&:hover, &.active:hover {
						cursor: pointer;
						background: white; 
						border-color: rgba(0,0,0,0.125);
					}
				}
			}
		}

		.files-details {
			form.file {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				height: 100%;

				code {
					flex: 1 0 auto;
					padding: 15px;

					.line {
						margin-bottom: 10px;
						&.margin-1 {
							padding-left: $indentation;
						}
						&.margin-2 {
							padding-left: $indentation * 2;
						}
					}
				}
				.form {
					border-top: 1px solid rgba(0,0,0,0.125);
					background: white;
					text-align: left !important;
					padding: 15px;

					.title {
						font-weight: 700;
						font-size: 150%;
						margin-bottom: 15px;
					}
					label {
						display: block;
						font-size: 120%;
						margin-bottom: 15px;
					}
				}
				.validation {
					padding: 15px;
					background: white;
					text-align: right;

					a.btn {
						background-color: $mainColor;
						border: none;

						&:hover {
							box-shadow: $shadowMainColor;
						}
					}
				}
			}
		}

		#file2 {
			display: none;
		}
	}
}