<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<link type="text/css" href="css/code-et-prog/step-1_code-pas-code.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

<div id="thumbnail">
    <img src="medias/code-et-prog/marjorie-intro.PNG" />
</div>
<div>
    <div class="container">
        <div id="ArduinoMessage"></div>
    </div>

    <div id="actions">
        <!-- <button type="button" id="replay" class="btn btn-secondary">Revoir le message de Marjorie</button> -->
        <button type="button" id="reinit" class="btn btn-secondary">Re-scanner les objets connectés</button>
    </div>
</div>


<script>
$(document).ready(function() {

    // Re-init activity
    $("#reinit").on('click', function(e){
        initActivity();
        e.preventDefault();
    });

    //
    // Listening to some specific sockets
    //
    socket.on('toclient.initCodePasCode', function(data){
        initActivity();
    });


    // 
    var nextStep = '<%-data.currentStep.transitions[0].id %>';
    var msgElmt = $("#ArduinoMessage");

    function initActivity() {
        // Display staring message
        msgElmt.html(messageInit);
        socket.emit('toserver.initCodePasCode', "init");
    }

    // Displays message in function of student responses
    socket.on('toclient.responseAnalysisCodePasCode', function(data) {
        var progressHTML = progressBar(data.completed);
        
        // Si la carte n'est pas triée au bon endroit
        if(data.result == "KO") {
            msgElmt.addClass('hidden');
            setTimeout(function(){
                msgElmt.html(messageKO);
                msgElmt.removeClass('hidden');
            }, 200);
        }
        // Si la carte a bien été triée
        else {
            // Si toutes les cartes n'ont pas été triées
            if (data.completed < 100) {
                // Si c'est la première carte
                if(data.completed <= 100/14) {
                    // Stoppe l'animation 2 secondes lors du premier scann
                    msgElmt.addClass('first-card-scanned');
                    setTimeout(function(){
                        msgElmt.addClass('hidden');
                        setTimeout(function(){
                            msgElmt.removeClass('first-card-scanned');
                            // Affiche le bon message de progression
                            msgElmt.html(messageScan + progressHTML);
                            msgElmt.removeClass('hidden');
                        }, 200);
                    }, 2000);
                }
                else {
                    msgElmt.html(messageScan + progressHTML);
                    msgElmt.removeClass('hidden');
                }
            }
            else {
                msgElmt.addClass('first-card-scanned');
                msgElmt.addClass('hidden');
                setTimeout(function(){
                    msgElmt.html(messageSuccess);
                    msgElmt.removeClass('hidden');

                    // Envoie la socket pour lancer la 2e vidéo de Marjorie
                    setTimeout( function() {
                        socket.emit('toserver.nextStep', {nextStep: nextStep});
                    }, 4000);
                }, 200);
            }
        }
    });
});

    // message Templates
    const messageInit = "<div class='content'><div class='loader'><span class='feedback'>En attente d'un premier scan...</span></div></div>";
    const messageSuccess = "<div class='content'><div class='loader'><span class='feedback'>Bravo !</span></div></div>";

    const messageScan = "<div class='feedback'>En attente de scan de tous les objets</div>";
    const messageKO = "<div class='feedback'>Vous avez mélangé les objets qui contiennent du code et les autres.<br />Cliquez sur \"Re-scanner\" puis recommencez tout !</div>";

    function progressBar(pct) {
        return "<div class='progress'>\
                <div class='progress-bar' role='progressbar' style='width: " + pct + "%' aria-valuenow='" + pct + "' aria-valuemin='0' aria-valuemax='100'></div>\
                </div>";
    }

</script>

<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>
