<%- include('header', { data: data }) %>
<h1>Hmmmm ?</h1>
<h2>Tu ne sembles pas être au bon endroit !</h2>
<p>
    Tu n'as pas dû badger sur la bonne activité. Regarde la couleur de ton badge et rends-toi à l'activité correspondante.
</p>
<%- include('footer', { data: data })%>