 <!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Populate RFID Database</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

	<script src="/js/jquery.min.js"></script>
 	<script src="/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

  </head>
    <body>
          <!-- Fixed navbar -->
<!-- No nav for the moment -->

    <!-- Begin page content -->
    <div class="container-fluid"style="margin:10%;">
    <h1>Référencement des badges RFID</h1>
    <form action="/populate" method="get">
    	<div class="row">
    		<u>code</u>&nbsp;:&nbsp;<input type="text" id="rfidcode" name="rfidcode" value="" style="color:red;">
    	</div>
    	<div class="row">
    		<input id="groupA" type="radio" name="group" value="A"><label for="groupA">&nbsp;&nbsp;Group A</label>
    	</div>
    	<div class="row">
    		<input id="groupB" type="radio" name="group" value="B"><label for="groupB">&nbsp;&nbsp;Group B</label>
    	</div>
    	<div class="row">
    		<input id="groupC" type="radio" name="group" value="C"><label for="groupC">&nbsp;&nbsp;Group C</label>
    	</div>
    	<hr />
    	<div class="row">
    		<input id="subgroup1" type="radio" name="subgroup" value="1"><label for="subgroup1">&nbsp;&nbsp;Sub-group 1 - <b><span style="color: #00d3eb;">BLEU</span></b></label>
    	</div>
    	<div class="row">
    		<input id="subgroup2" type="radio" name="subgroup" value="2"><label for="subgroup2">&nbsp;&nbsp;Sub-group 2 - <b><span style="color: #ff8d14;">ORANGE</span></b></label>
    	</div>
    	<div class="row">
    		<input id="subgroup3" type="radio" name="subgroup" value="3"><label for="subgroup3">&nbsp;&nbsp;Sub-group 3 - <b><span style="color: #ff14c4;">ROSE</span></b></label>
    	</div>
    	<div class="row">
    		<input id="subgroup4" type="radio" name="subgroup" value="4"><label for="subgroup4">&nbsp;&nbsp;Sub-group 4 - <b><span style="color: #02d464;">VERT</span></b></label>
    	</div>
    	<div class="row">
    		<input id="subgroup5" type="radio" name="subgroup" value="5"><label for="subgroup5">&nbsp;&nbsp;Sub-group 5 - <b><span style="color: #6600e3;">VIOLET</span></b></label>
    	</div>
    	<div class="row">
    		<input type="submit" class="btn btn-primary" value="Referencer">
    	</div>
    	</form>
    	<hr />
    	<button class="btn btn-danger" id="save">Sauvegarder</button>
    </div>
  <script type='text/javascript'>
$(document).ready(function(){
     var socket = io();
     var rfidcode = $('#rfidcode');
    // ------------------------------------------------------------------
    // Socket listening
    // ------------------------------------------------------------------
    // Receiving new media attributes by socket.
    socket.on('toclient.rfidData', function(data) {
        console.log("<server.rfidData> rfid #" + data.tag + " on reader #" + data.reader);
        rfidcode.val(data.tag);

    });
    // Bouton sauvegarde
    $('#save').click(function(e) {
    	e.preventDefault();
    	console.log("On veut sauvegarder");
    	$.ajax({
    		url: '/save',
    		type: 'GET',
    		dataType: 'json',
    		success: function(result) {
	    		if(result.status == 200) {
		    		console.log(result);
		    	}
	    	}
    	});
    });
}); // $(document).ready()
  </script>



    </div>

	<footer class="footer">
       <div class="container-fluid">
      </div>
	</footer>
  </body>
</html>
