<%- include('header', { data: data }) %>
    <div class="container">

    <div class="row">
        <div class="col-md-12">
            Template Console
        </div>
    </div>

    </div>
<%- include('footer', { data: data })%>
