<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
    <link type="text/css" href="css/admin-reseau/step-1_typing.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

<div id="titleConsole">
    Terminal - Connecté en tant que @<span class="name team">Greenternet-console</span> - Communication établie avec @<span class="name dora">Dora</span>
</div>
<div class="console">
</div>

<!-- START // Scripts in footer -->
<script>
    const nextStep = JSON.parse('<%- JSON.stringify(data.currentStep.transitions[0].id) %>');
    $(document).ready(function() {
        const typingLines = [
            { 'type': "typing", 'text': "Vous êtes là ? Il y a quelqu'une ? Vous me recevez ?" },
            { 'type': "typing", 'text': "..." },
            { 'type': "typing", 'text': "Si quelqu'une peut lire ce message, tapez “yes” !" },
            { 'type': "waiting", 'text': ["YES", "yes", "Yes", "YEs", "YeS", "yeS", "yES", "yEs"] },
            { 'type': "typing", 'text': "Enfin quelqu'une ! On a un gros problème qui m'empêche de vous contacter autrement qu'ici." },
            { 'type': "typing", 'text': "J'ai besoin de votre aide, tout le Greenternet compte sur vous !" },
            { 'type': "typing", 'text': "Êtes-vous prêt·es à m'aider ?" },
            { 'type': "waiting", 'text': ["YES", "yes", "Yes", "YEs", "YeS", "yeS", "yES", "yEs", "oui", "ouI", "oUi", "oUI", "Oui", "OuI", "OUi", "OUI"] },
            { 'type': "typing", 'text': "Super." },
            { 'type': "typing", 'text': "Le virus a infecté beaucoup de serveurs du réseau du Greenternet." },
            { 'type': "typing", 'text': "Il faut établir la connexion jusqu'à nos allié·es sans passer par ces serveurs." },
            { 'type': "typing", 'text': "Commencez par utiliser le terminal pour identifier les serveurs infectés par le virus." },
            { 'type': "typing", 'text': "Utilisez la ligne de commande “status” (en tapant “status 31.13.127.11” par exemple)." },
            { 'type': "typing", 'text': "Quand vous savez quels serveurs sont infectés, connectez-nous aux allié·es 1." },
            { 'type': "typing", 'text': "Une fois la connexion établie, envoyez-leur un “ping”." },
            { 'type': "typing", 'text': "Donc :" },
            { 'type': "typing", 'text': "1. Regardez le plan du réseau et choisissez les serveurs par lesquels passer pour contacter les allié·es 1." },
            { 'type': "typing", 'text': "2. Regardez si ces serveurs sont infectés ou non avec la ligne de commande “status adresse ip”." },
            { 'type': "typing", 'text': "3. Câblez le chemin sans passer par les serveurs infectés." },
            { 'type': "typing", 'text': "4. Faites un “ping” pour contacter nos allié·es 1." },
            { 'type': "typing", 'text': "(Regardez la fiche d'aide si vous ne savez pas quelle ligne de commande taper dans le terminal !)" },
            { 'type': "typing", 'text': "A présent, tapez “ok” pour accéder au terminal complet, afin de contacter le réseau extérieur !" },
            { 'type': "waiting", 'text': ["ok", "OK", "Ok", "oK"] }
        ];
        var charCounter = 0;
        var lineCounter = 0;
        var typedText = "";
        var newLine = "";
        var typingDelay = 30;
        var isCurrentlyWaiting = false;
        var currentLine;
        var currentInput;

        newTypingLine();

        // 
        // Evenement lorsque l'on clique sur "Entrée"
        // 
        $('body').keydown(function(event) {
            if(event.originalEvent != undefined) {
                if (event.originalEvent.keyCode == 13) {
                    if(currentLine.text.indexOf(currentInput.val()) > -1 && isCurrentlyWaiting) {
                        // Si c'est la dernière ligne, alors on lance l'étape suivante
                        if(lineCounter == typingLines.length - 1) {
                            socket.emit('toserver.nextStep', {nextStep: nextStep});
                        }
                        // Sinon, on passe à la ligne suivante
                        else {
                            currentInput.blur();
                            lineCounter++;
                            isCurrentlyWaiting = false;
                            newTypingLine();
                        }
                    }
                }
            }
        });

        // 
        // Fonction pour taper une nouvelle ligne
        // 
        function newTypingLine() {
            // Récupère la ligne courante
            currentLine = typingLines[lineCounter];

            if(currentLine !== undefined) {

                newLine = '<div class="line">';
                if(currentLine.type == "typing") {
                    newLine += '<div>@<span class="name dora">Dora</span> $</div>';
                }
                else {
                    newLine += '<div>@<span class="name team">Greenternet-console</span> $</div>';
                }
                newLine += '<input type="text" autocomplete="off" /></div>';

                // Crée un nouvel input
                $('.console').append(newLine);
                currentInput = $('.console .line:last-child input');
                newLine = "";

                // Si c'est une ligne de typing, alors on lance la fonction "typing"
                if(currentLine.type == "typing") {
                    currentInput.addClass('unfocusable');
                    // Si c'est la première ligne ou que la ligne précédente étant un "waiting", alors on lance directement le typing
                    if(lineCounter == 0 || typingLines[lineCounter - 1].type == "waiting") {
                        type();
                    }
                    // Sinon, on attend 2 secondes
                    else {
                        setTimeout(type, 2000);
                    }
                }
                // Si c'est une ligne où il faut écrire, on attend qu'il y ait le bon mot entré, puis la touche "Entrée"
                else {
                    currentInput.focus();
                    isCurrentlyWaiting = true;
                }
            }
        }

        // 
        // Fonction pour taper une lettre supplémentaire
        // 
        function type() {
            if(charCounter < currentLine.text.length) {
                typedText += currentLine.text.charAt(charCounter);
                currentInput.val(typedText);
                charCounter++;
                if(currentLine.text.charAt(charCounter) == " ") {
                    type();
                }
                else {
                    setTimeout(type, typingDelay + Math.floor(Math.random() * Math.floor(100)));
                }
            }
            else {
                charCounter = 0;
                lineCounter++;
                typedText = "";

                newTypingLine();
            }
        }

    });
</script>
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>
