<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
    <link type="text/css" href="css/admin-reseau/style.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

    <div class="console">
        <input type="text" autocomplete="off" />
    </div>

<!-- START // Scripts in footer -->
<script>
    const nextStep = JSON.parse('<%- JSON.stringify(data.currentStep.transitions[0].id) %>');
    $(document).ready(function() {
    // const typed_text_span = document.querySelector(".typed-text");
    var typed_text_span = $('.console input');

    const text_one   = ["> Vous êtes là ? Il y a quelqu'une ? Vous me recevez ?", "...", "Si quelqu'une peut lire ce message, tapez “yes” !"];
    const text_two   = ["> Enfin quelqu'une ! On a un gros problème qui m'empêche de vous contacter autrement.", "J'ai besoin de votre aide. Je compte sur vous !", "Êtes-vous prêt·es à m'aider ?"];
    const text_three = ["> Super. Lisez attentivement ce qui va suivre.", "Nous devons contacter nos allié·es.", "Mais le virus a infecté beaucoup de serveurs du réseau Greenternet.", "Il faut établir la connexion jusqu'à nos allié·es sans passer par ces serveurs.", "Pour cela, il faut identifier les serveurs infectés, puis recâbler le chemin pour aller aux allié·es 1... Et les pinguer.","Votre seul outil pour cela : l'invité de commandes.", "Ne paniquez pas, vous savez déjà faire.", "Vous êtes déjà en train de l'utiliser ! (Si tout est bon, tapez : \"ok\")"];
    const text       = [text_one, text_two, text_three];

    const typing_delay = 10;
    const typing_pause = 2000;
    let text_counter = 0;
    let array_counter = 0;
    let char_counter = 0;

    // $('#console').keydown(function(event) {
    $('body').keydown(function(event) {
        console.log(event);
        if(event.originalEvent != undefined) {
            if (event.originalEvent.keyCode == 13) {
                var input = $('.console input').last(); //$('#console').val().trim().toLowerCase();
                let input_text = input.val().trim().toLowerCase();
                if (input_text == "yes" && text_counter < 2) {
                    console.log("Premier YES");
                    $('.console input').addClass('unfocusable');
                    $('.console').append('<input type="text" autocomplete="false" />');
                    typed_text_span = $('.console input').last();
                    $('.console input').last().focus();
                    text_counter++;
                    array_counter = 0;
                    char_counter = 0;
                    $('#typed-text').html("<p>");
                    type()
                }
                if (input_text == "ok" && text_counter == 2) {
                    console.log("ok, Asking for a new step...");
                    socket.emit('toserver.nextStep', {nextStep: nextStep});
                }
                $('#console').val("");
            }
        }
    });

    // Add ">" in the beggining of inputs
    $('body').on('focus', 'input.unfocusable', function(e) {
        if(($(this).val()).slice(0,1) != ">") {
            $(this).val($(this).val() + '> ');
        }
    })
    // Disallow focus on input.unfocusable
    $('body').on('focus', 'input.unfocusable', function(e) {
        console.log("Essaie de cliquer sur un input unfocusable");
        $('.console input').last().focus();
    })
    type()
    addLine()

    function type() {
      if (char_counter < text[text_counter][array_counter].length) {
        // typed_text_span.textContent += text[text_counter][array_counter].charAt(char_counter);
        typed_text_span.val(typed_text_span.val() + text[text_counter][array_counter].charAt(char_counter));
        char_counter++;
        setTimeout(type, typing_delay + Math.floor(Math.random() * Math.floor(100)));
      } else {
        if (array_counter < text[text_counter].length - 1) {
            addLine()
            array_counter++;
            char_counter = 0;
            var start = Date.now();
            var i = 0;
            while (Date.now() < start + typing_pause) {}
            // $('#typed-text').html("<p/>");
          type();
        }
      }
    }

    function addLine() {
        $('.console input').addClass('unfocusable');
        $('.console input').last().val("> ");
        typed_text_span = $('.console input').last();
        $('.console').append('<input type="text" autocomplete="false" />');
        $('.console input').last().focus();
    }
  });
  </script>
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>
