body {
  background-color: #08345f !important; }

body.admin #adminbar {
  display: block; }
body.admin #navbar {
  top: 40px; }
body.admin #listKnoots {
  padding-top: 120px; }

#adminbar {
  display: none;
  background-color: #00c6f9 !important; }

#navbar {
  background: transparent !important;
  /*#08345f !important;*/ }

/* Button addKnoot */
#addKnoot {
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin: 0;
  padding: 0; }
  #addKnoot #addKnootButton {
    font-size: 40px;
    line-height: 40px;
    padding: 0px 10px 8px 10px;
    margin: 0;
    border-radius: 50%;
    border: none;
    background-color: #00c6f9 !important; }
    #addKnoot #addKnootButton:hover {
      box-shadow: 0 0 10px #00c6f9; }

/* Animation pour inciter au scroll */
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;
  position: fixed;
  bottom: 5px;
  left: 50%;
  margin-left: -12px;
  transform: scale(0.8); }

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px; }

.unu {
  margin-top: 1px; }

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite; }

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate; }

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px; }

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px; }

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px; }

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite; }

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
@-o-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
@keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
#chooseImage {
  background: rgba(0, 0, 0, 0.8); }
  #chooseImage > .modal-dialog {
    max-width: none;
    width: 90%;
    height: 100%; }
    #chooseImage > .modal-dialog > .modal-dialog {
      max-width: none;
      width: 100%;
      height: 800px; }
      #chooseImage > .modal-dialog > .modal-dialog > .modal-content {
        height: 100%; }
        #chooseImage > .modal-dialog > .modal-dialog > .modal-content .modal-body {
          flex: 1 1 100%; }
          #chooseImage > .modal-dialog > .modal-dialog > .modal-content .modal-body > .container {
            flex: 1 1 100%;
            height: 100%;
            max-width: none; }
            #chooseImage > .modal-dialog > .modal-dialog > .modal-content .modal-body > .container .row {
              height: 100%; }
              #chooseImage > .modal-dialog > .modal-dialog > .modal-content .modal-body > .container .row > .col-sm:first-child {
                max-height: 100%;
                border-right: 1px solid gray;
                overflow-y: scroll; }

button.imageName {
  transition: all 0.2s linear;
  border: 1px solid transparent;
  background: transparent;
  color: black;
  border-radius: 2px;
  text-align: left;
  width: 100%; }
  button.imageName:hover {
    background: rgba(0, 0, 0, 0.075);
    transition: none; }
  button.imageName:focus {
    outline: none !important; }

.table thead th {
  vertical-align: top; }

.table-active button.imageName:hover {
  background: transparent; }

#apercu img {
  max-width: 100%;
  max-height: 500px; }

strong.titleApercu {
  line-height: 48px; }

#writeKnoot .container {
  padding: 0; }
  #writeKnoot .container .col-sm.container-image {
    flex: 0;
    width: 0px !important;
    padding: 0; }
    #writeKnoot .container .col-sm.container-image.withImage {
      flex: 0 0 150px;
      width: 100px !important;
      max-width: 100% !important;
      padding-left: 15px;
      padding-right: 10px; }
    #writeKnoot .container .col-sm.container-image img {
      max-width: 100%; }
  #writeKnoot .container #removeButton {
    cursor: pointer; }

/*********** FIN FOND DYNAMIC *******/
#listKnoots {
  width: 900px;
  margin: auto;
  padding-top: 90px;
  column-break-inside: avoid; }
  #listKnoots .knoot {
    position: fixed;
    left: 50%;
    top: 0;
    width: 300px;
    margin-left: -150px;
    transform: scale(0);
    border: none; }
    #listKnoots .knoot h2 {
      background: white;
      font-size: 15px;
      padding: 3px 5px;
      margin: 0; }
    #listKnoots .knoot p {
      padding: 5px 10px;
      margin: 0; }
    #listKnoots .knoot.blurred .card-body {
      color: transparent;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    #listKnoots .knoot.blurred .card-footer,
    #listKnoots .knoot.blurred .card-footer:hover {
      cursor: pointer; }
    #listKnoots .knoot img {
      width: 100%; }
    #listKnoots .knoot:first-child {
      transform: scale(1);
      opacity: 1;
      z-index: 90;
      margin-top: 90px;
      margin-left: -500px; }
    #listKnoots .knoot:nth-child(40n+1) {
      transform: scale(1);
      opacity: 1;
      z-index: 99;
      margin-left: -500px;
      margin-top: 300px; }
    #listKnoots .knoot:nth-child(40n+2) {
      transform: scale(0.96);
      opacity: 0.92;
      z-index: 98;
      margin-left: 300px;
      margin-top: 700px; }
    #listKnoots .knoot:nth-child(40n+3) {
      transform: scale(0.92);
      opacity: 0.84;
      z-index: 97;
      margin-left: 100px;
      margin-top: 100px; }
    #listKnoots .knoot:nth-child(40n+4) {
      transform: scale(0.88);
      opacity: 0.76;
      z-index: 96;
      margin-left: -600px;
      margin-top: 500px; }
    #listKnoots .knoot:nth-child(40n+5) {
      transform: scale(0.84);
      opacity: 0.68;
      z-index: 95;
      margin-left: 50px;
      margin-top: 300px; }
    #listKnoots .knoot:nth-child(40n+6) {
      transform: scale(0.8);
      opacity: 0.6;
      z-index: 94;
      margin-left: -180px;
      margin-top: 180px; }
    #listKnoots .knoot:nth-child(40n+7) {
      transform: scale(0.76);
      opacity: 0.52;
      z-index: 93;
      margin-top: 480px;
      margin-left: -240px; }
    #listKnoots .knoot:nth-child(40n+8) {
      transform: scale(0.72);
      opacity: 0.44;
      z-index: 92;
      margin-top: 50px;
      margin-left: -800px; }
    #listKnoots .knoot:nth-child(40n+9) {
      transform: scale(0.68);
      opacity: 0.36;
      z-index: 91;
      margin-top: 700px;
      margin-left: 600px; }
    #listKnoots .knoot:nth-child(40n+10) {
      transform: scale(0.64);
      opacity: 0.28;
      z-index: 90;
      margin-top: 100px;
      margin-left: 300px; }
    #listKnoots .knoot:nth-child(40n+11) {
      transform: scale(0.6);
      opacity: 0.2;
      z-index: 89;
      margin-top: 450px;
      margin-left: -900px; }
    #listKnoots .knoot:nth-child(40n+12) {
      transform: scale(0.56);
      opacity: 0.12;
      z-index: 88;
      margin-top: 80px;
      margin-left: 670px; }
    #listKnoots .knoot:nth-child(40n+13) {
      transform: scale(0.52);
      opacity: 0.04;
      z-index: 87;
      margin-top: 450px;
      margin-left: -20px; }
    #listKnoots .knoot:nth-child(40n+14) {
      transform: scale(0.48);
      opacity: 0;
      z-index: 86;
      margin-top: 100px;
      margin-left: -940px; }
    #listKnoots .knoot:nth-child(40n+15) {
      transform: scale(0.44);
      opacity: 0;
      z-index: 85;
      margin-top: 200px;
      margin-left: -300px; }
    #listKnoots .knoot:nth-child(40n+16) {
      transform: scale(0.4);
      opacity: 0;
      z-index: 84;
      margin-top: 80px;
      margin-left: -600px; }
    #listKnoots .knoot:nth-child(40n+17) {
      transform: scale(0.36);
      opacity: 0;
      z-index: 83;
      margin-top: 350px;
      margin-left: 370px; }
    #listKnoots .knoot:nth-child(40n+18) {
      transform: scale(0.32);
      opacity: 0;
      z-index: 82;
      margin-top: 600px;
      margin-left: -500px; }
    #listKnoots .knoot:nth-child(40n+19) {
      transform: scale(0.28);
      opacity: 0;
      z-index: 81;
      margin-top: 200px;
      margin-left: 590px; }
    #listKnoots .knoot:nth-child(40n+20) {
      transform: scale(0.24);
      opacity: 0;
      z-index: 80;
      margin-left: -400px;
      margin-top: 300px; }
    #listKnoots .knoot:nth-child(40n+21) {
      transform: scale(0.2);
      opacity: 0;
      z-index: 79;
      margin-left: 300px;
      margin-top: 700px; }
    #listKnoots .knoot:nth-child(40n+22) {
      transform: scale(0.16);
      opacity: 0;
      z-index: 78;
      margin-left: 100px;
      margin-top: 100px; }
    #listKnoots .knoot:nth-child(40n+23) {
      transform: scale(0.12);
      opacity: 0;
      z-index: 77;
      margin-left: -700px;
      margin-top: 400px; }
    #listKnoots .knoot:nth-child(40n+24) {
      transform: scale(0.08);
      opacity: 0;
      z-index: 76;
      margin-left: 50px;
      margin-top: 300px; }
    #listKnoots .knoot:nth-child(40n+25) {
      transform: scale(0.04);
      opacity: 0;
      z-index: 75;
      margin-left: -180px;
      margin-top: 180px; }
    #listKnoots .knoot:nth-child(40n+26) {
      transform: scale(0);
      opacity: 0;
      z-index: 74;
      margin-top: 480px;
      margin-left: -240px; }
    #listKnoots .knoot:nth-child(40n+27) {
      transform: scale(0);
      opacity: 0;
      z-index: 73;
      margin-top: 50px;
      margin-left: -800px; }
    #listKnoots .knoot:nth-child(40n+28) {
      transform: scale(0);
      opacity: 0;
      z-index: 72;
      margin-top: 700px;
      margin-left: 600px; }
    #listKnoots .knoot:nth-child(40n+29) {
      transform: scale(0);
      opacity: 0;
      z-index: 71;
      margin-top: 100px;
      margin-left: 300px; }
    #listKnoots .knoot:nth-child(40n+30) {
      transform: scale(0);
      opacity: 0;
      z-index: 70;
      margin-top: 350px;
      margin-left: -900px; }
    #listKnoots .knoot:nth-child(40n+31) {
      transform: scale(0);
      opacity: 0;
      z-index: 69;
      margin-top: 80px;
      margin-left: 670px; }
    #listKnoots .knoot:nth-child(40n+32) {
      transform: scale(0);
      opacity: 0;
      z-index: 68;
      margin-top: 450px;
      margin-left: -20px; }
    #listKnoots .knoot:nth-child(40n+33) {
      transform: scale(0);
      opacity: 0;
      z-index: 67;
      margin-top: 100px;
      margin-left: -940px; }
    #listKnoots .knoot:nth-child(40n+34) {
      transform: scale(0);
      opacity: 0;
      z-index: 66;
      margin-top: 700px;
      margin-left: -500px; }
    #listKnoots .knoot:nth-child(40n+35) {
      transform: scale(0);
      opacity: 0;
      z-index: 65;
      margin-top: 80px;
      margin-left: -400px; }
    #listKnoots .knoot:nth-child(40n+36) {
      transform: scale(0);
      opacity: 0;
      z-index: 64;
      margin-top: 550px;
      margin-left: 470px; }
    #listKnoots .knoot:nth-child(40n+37) {
      transform: scale(0);
      opacity: 0;
      z-index: 63;
      margin-top: 600px;
      margin-left: -500px; }
    #listKnoots .knoot:nth-child(40n+38) {
      transform: scale(0);
      opacity: 0;
      z-index: 62;
      margin-top: 200px;
      margin-left: 590px; }
    #listKnoots .knoot:nth-child(40n+39) {
      transform: scale(0);
      opacity: 0;
      z-index: 61;
      margin-top: 600px;
      margin-left: -690px; }
    #listKnoots .knoot:nth-child(40n) {
      transform: scale(0.24);
      opacity: 0;
      z-index: 60;
      margin-top: 90px;
      margin-left: -500px; }

/*# sourceMappingURL=knooter.css.map */
