body {
  background-color: #f3f3f3 !important; }

/*********** DEBUT FOND DYNAMIC *******/
/* https://1stwebdesigner.com/15-css-background-effects/ */
html {
  overflow: hidden;
  background: #123; }

body, head {
  display: block; }

head::before, head::after,
body::before, body::after {
  font: 5vmin/1.3 Sans-Serif;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate; }

body::before {
  text-shadow: 0.0826334932em 2.4135627098em 7px rgba(255, 64, 0, 0.9), 2.4112961397em 0.0894292771em 7px rgba(0, 152, 255, 0.9), 2.0850479308em 1.805582775em 7px rgba(0, 255, 152, 0.9), -0.2566003829em 2.3571910099em 7px rgba(255, 42, 0, 0.9), 1.1460826385em 2.1261737277em 7px rgba(202, 0, 255, 0.9), 1.7767432143em 2.4285495436em 7px rgba(255, 0, 25, 0.9), 2.2431734539em 0.1285095862em 7px rgba(255, 126, 0, 0.9), -0.3625489122em 2.0980976718em 7px rgba(163, 0, 255, 0.9), 0.3809906474em 0.3545267191em 7px rgba(255, 1, 0, 0.9), 0.3456446898em 1.4550270487em 7px rgba(0, 132, 255, 0.9), -0.2677865317em 1.9967778565em 7px rgba(255, 51, 0, 0.9), 0.9129727302em -0.237551773em 7px rgba(164, 0, 255, 0.9), 2.4832417824em -0.0732103765em 7px rgba(2, 255, 0, 0.9), 2.391688121em 1.4052119306em 7px rgba(124, 0, 255, 0.9), 0.1278784641em 0.691798011em 7px rgba(255, 0, 206, 0.9), -0.3909248067em -0.0861669494em 7px rgba(0, 255, 56, 0.9), 0.9051175265em 2.3371583708em 7px rgba(189, 0, 255, 0.9), 1.0638042266em -0.322533788em 7px rgba(255, 57, 0, 0.9), 0.1551216999em 0.9902645229em 7px rgba(0, 255, 98, 0.9), 1.7338788374em -0.2699354797em 7px rgba(0, 255, 185, 0.9), 2.1378500824em 1.5469968749em 7px rgba(0, 255, 88, 0.9), 2.4727229011em 0.9211342412em 7px rgba(110, 255, 0, 0.9), 1.8165172751em 1.0925481282em 7px rgba(255, 0, 112, 0.9), 0.3283327685em -0.2423113701em 7px rgba(255, 0, 213, 0.9), 0.2660544932em 0.7216380177em 7px rgba(0, 255, 220, 0.9), 1.3818540104em -0.3666714956em 7px rgba(0, 52, 255, 0.9), 1.8791588992em 0.4731719149em 7px rgba(140, 255, 0, 0.9), 2.2096803709em -0.2033471571em 7px rgba(0, 255, 35, 0.9), 0.1229336408em 0.6983993002em 7px rgba(0, 255, 210, 0.9), 2.4777389336em 1.5598067299em 7px rgba(213, 255, 0, 0.9), 1.159244128em 0.616721704em 7px rgba(0, 192, 255, 0.9), 1.1125905496em 2.1023869473em 7px rgba(255, 229, 0, 0.9), 2.2143485209em 0.4383459856em 7px rgba(0, 4, 255, 0.9), 0.8593975648em 1.8751838242em 7px rgba(172, 0, 255, 0.9), 1.4892049424em 2.1762438296em 7px rgba(255, 180, 0, 0.9), 0.1888530715em 1.9547288404em 7px rgba(0, 255, 211, 0.9), 1.1093415207em 1.1776572405em 7px rgba(135, 0, 255, 0.9), -0.4014940015em 0.5929045544em 7px rgba(255, 0, 35, 0.9), 0.9195646424em 1.6715443194em 7px rgba(255, 0, 6, 0.9), 1.1474564026em 2.2156264154em 7px rgba(255, 227, 0, 0.9), -0.0338546396em 1.7606550149em 7px rgba(200, 255, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s; }

body::after {
  text-shadow: 2.0246398742em 0.8186457079em 7px rgba(0, 255, 237, 0.9), -0.4230678725em 1.7123474545em 7px rgba(0, 225, 255, 0.9), 0.8172554013em 0.5200434753em 7px rgba(0, 79, 255, 0.9), 0.1154275401em -0.0940503912em 7px rgba(4, 255, 0, 0.9), 1.1496554847em 2.0581069682em 7px rgba(105, 0, 255, 0.9), 0.3520997973em 0.1132503273em 7px rgba(255, 131, 0, 0.9), 2.3147408858em 2.1117361917em 7px rgba(255, 204, 0, 0.9), 0.9693834566em 0.8615466593em 7px rgba(0, 255, 86, 0.9), 1.8285406081em 0.5265196042em 7px rgba(203, 0, 255, 0.9), 1.2948283765em -0.0871843896em 7px rgba(185, 0, 255, 0.9), 0.6297799044em 0.2745651358em 7px rgba(0, 255, 39, 0.9), 1.1564534689em -0.1093637539em 7px rgba(2, 0, 255, 0.9), 1.2794580179em 0.8674282032em 7px rgba(126, 255, 0, 0.9), -0.2859078007em 1.2211969804em 7px rgba(255, 0, 253, 0.9), -0.0257300104em 0.0630974721em 7px rgba(0, 255, 7, 0.9), 1.9182264343em 2.4626892418em 7px rgba(159, 255, 0, 0.9), 2.0601895854em 1.4316168987em 7px rgba(255, 0, 88, 0.9), 1.8479128468em 0.8961457824em 7px rgba(0, 255, 51, 0.9), -0.007965592em 1.7633003291em 7px rgba(255, 0, 68, 0.9), 0.2166481382em 1.0834675145em 7px rgba(6, 255, 0, 0.9), 1.2115642621em 1.8957195509em 7px rgba(0, 255, 194, 0.9), 0.360543291em -0.0102676089em 7px rgba(0, 164, 255, 0.9), 2.0449076251em 2.2369149264em 7px rgba(0, 255, 202, 0.9), 0.4270712913em 0.3868517127em 7px rgba(255, 36, 0, 0.9), -0.3137793082em 1.3467575493em 7px rgba(255, 0, 99, 0.9), -0.4845427597em -0.3425964447em 7px rgba(0, 198, 255, 0.9), 0.1993944915em -0.1818165761em 7px rgba(11, 255, 0, 0.9), -0.0248576612em 2.1229836326em 7px rgba(232, 0, 255, 0.9), 1.8921562327em 0.0143974418em 7px rgba(0, 255, 133, 0.9), 2.2577801342em -0.1538881367em 7px rgba(133, 0, 255, 0.9), 1.1659909322em -0.0714372384em 7px rgba(255, 0, 237, 0.9), 2.1993713695em 1.4258379755em 7px rgba(255, 0, 70, 0.9), -0.2574497533em 0.426810826em 7px rgba(164, 255, 0, 0.9), 1.1507345244em 0.256606701em 7px rgba(0, 32, 255, 0.9), 2.2581326236em 1.5976983403em 7px rgba(255, 191, 0, 0.9), 2.0366663912em 1.4528339008em 7px rgba(0, 255, 169, 0.9), 0.7415178674em 0.1257636498em 7px rgba(91, 0, 255, 0.9), 2.4525905473em 0.151451212em 7px rgba(255, 127, 0, 0.9), 1.8559191001em 0.9483756851em 7px rgba(8, 0, 255, 0.9), 0.9845187313em 1.5108069517em 7px rgba(0, 10, 255, 0.9), -0.1619270898em 0.7716189487em 7px rgba(177, 255, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s; }

head::before {
  text-shadow: 1.9292826727em 0.4281173525em 7px rgba(255, 59, 0, 0.9), -0.3530255978em 0.4245868967em 7px rgba(0, 255, 203, 0.9), 1.6652876891em 0.9395932277em 7px rgba(0, 204, 255, 0.9), 2.1549050909em 0.2813414933em 7px rgba(0, 255, 247, 0.9), -0.1414698839em 0.3155910836em 7px rgba(197, 0, 255, 0.9), 0.2401916496em 0.4487780722em 7px rgba(255, 0, 170, 0.9), 2.0005008931em 0.0653120552em 7px rgba(0, 255, 203, 0.9), 1.6248454595em 1.9048989985em 7px rgba(255, 0, 140, 0.9), 0.3955979402em 0.8504681942em 7px rgba(64, 255, 0, 0.9), 2.1140629234em 0.2392298226em 7px rgba(0, 255, 220, 0.9), 1.6853504237em 2.0090640335em 7px rgba(255, 189, 0, 0.9), 1.0227650533em 0.8048317119em 7px rgba(64, 0, 255, 0.9), 0.090468004em 0.8489986778em 7px rgba(255, 47, 0, 0.9), 1.1238010852em 1.6342629962em 7px rgba(104, 255, 0, 0.9), 0.5701496713em 0.8420639448em 7px rgba(0, 255, 88, 0.9), 1.8991613752em -0.0701501413em 7px rgba(255, 253, 0, 0.9), 1.8229943719em 0.1320573254em 7px rgba(0, 132, 255, 0.9), 2.0258610928em 0.2939180117em 7px rgba(56, 0, 255, 0.9), 1.0868404144em 2.3165314103em 7px rgba(255, 0, 95, 0.9), 0.0419624422em 2.1426466685em 7px rgba(231, 255, 0, 0.9), -0.1895968576em 0.3764419188em 7px rgba(0, 199, 255, 0.9), 0.6641873028em 0.7008405216em 7px rgba(64, 255, 0, 0.9), 2.2119209281em 1.0495934051em 7px rgba(164, 0, 255, 0.9), 2.2056475155em 1.8391307376em 7px rgba(255, 0, 40, 0.9), -0.4650218698em -0.2949481534em 7px rgba(255, 80, 0, 0.9), 2.4486824739em -0.3336302397em 7px rgba(0, 255, 209, 0.9), 1.4279379786em 1.6400419805em 7px rgba(255, 200, 0, 0.9), -0.1462580488em 0.6819325073em 7px rgba(0, 183, 255, 0.9), -0.4372306123em -0.375183326em 7px rgba(0, 255, 4, 0.9), 1.0027819195em 0.4658355257em 7px rgba(255, 0, 110, 0.9), 1.1068255382em 0.0758515593em 7px rgba(255, 0, 173, 0.9), 0.6950235298em 1.8159761649em 7px rgba(0, 255, 217, 0.9), 1.4218963618em 0.3942027708em 7px rgba(113, 255, 0, 0.9), 1.0127436145em 1.5359168893em 7px rgba(255, 0, 149, 0.9), 1.4112547302em 0.7899993723em 7px rgba(0, 250, 255, 0.9), 1.5658522255em 0.8854199397em 7px rgba(100, 0, 255, 0.9), 0.7682481677em 1.618985276em 7px rgba(124, 255, 0, 0.9), 0.9968818124em 0.3929635896em 7px rgba(0, 106, 255, 0.9), 2.1370962055em 0.1346523647em 7px rgba(255, 0, 7, 0.9), 2.325325468em 1.2275252279em 7px rgba(255, 0, 144, 0.9), 1.456249743em 0.2263639102em 7px rgba(187, 255, 0, 0.9);
  animation-duration: 42s;
  animation-delay: -23s; }

head::after {
  text-shadow: 1.9469620623em 0.5272233074em 7px rgba(0, 255, 69, 0.9), 0.34143617em 1.3807084516em 7px rgba(0, 26, 255, 0.9), 0.3017108759em 1.8311381462em 7px rgba(255, 129, 0, 0.9), 2.4477136982em 0.7826143021em 7px rgba(255, 0, 254, 0.9), 0.3194955101em 1.0620466926em 7px rgba(89, 255, 0, 0.9), 0.2972691649em 0.2069698183em 7px rgba(112, 0, 255, 0.9), 0.2362395601em 1.3701596742em 7px rgba(25, 0, 255, 0.9), -0.06210545em 1.2682437625em 7px rgba(110, 255, 0, 0.9), 0.2119612361em 0.7224221478em 7px rgba(0, 228, 255, 0.9), 0.0491205976em 1.2251178019em 7px rgba(0, 255, 38, 0.9), 0.6217630609em 2.401935775em 7px rgba(179, 255, 0, 0.9), 2.2160287524em 1.7581713544em 7px rgba(255, 18, 0, 0.9), 0.6720728655em 0.4650696711em 7px rgba(255, 0, 140, 0.9), 2.4100679648em -0.3945062232em 7px rgba(255, 220, 0, 0.9), 2.4238624041em 2.0029147486em 7px rgba(222, 255, 0, 0.9), 1.9621129517em -0.0946866593em 7px rgba(1, 0, 255, 0.9), 1.5599158457em -0.2101155509em 7px rgba(0, 151, 255, 0.9), 1.3832801985em -0.2422647929em 7px rgba(0, 255, 104, 0.9), 1.0873894703em 2.1386879186em 7px rgba(87, 0, 255, 0.9), 1.0635549604em -0.1581701129em 7px rgba(177, 255, 0, 0.9), -0.0076953912em 1.6848528327em 7px rgba(0, 116, 255, 0.9), 0.3579669738em 2.2834290097em 7px rgba(0, 102, 255, 0.9), 0.7332419127em 0.189916246em 7px rgba(199, 0, 255, 0.9), 2.1142951246em 1.53798402em 7px rgba(0, 204, 255, 0.9), -0.0102410655em 1.3451739283em 7px rgba(255, 191, 0, 0.9), 1.6915643958em 1.4950944315em 7px rgba(213, 0, 255, 0.9), 0.2819569468em 1.4799362765em 7px rgba(119, 255, 0, 0.9), 2.1695944657em 0.3067231249em 7px rgba(30, 255, 0, 0.9), 0.5564449921em 1.2518686384em 7px rgba(129, 0, 255, 0.9), 0.8217533011em 0.6462966672em 7px rgba(255, 0, 158, 0.9), 0.2549090007em 0.7349925701em 7px rgba(0, 180, 255, 0.9), 0.3378772667em 1.4573293161em 7px rgba(0, 255, 222, 0.9), 0.5146047856em -0.2162325879em 7px rgba(0, 133, 255, 0.9), 0.8412618468em 0.9925768642em 7px rgba(194, 0, 255, 0.9), -0.0932368077em 2.1771881962em 7px rgba(211, 0, 255, 0.9), 1.3730298097em -0.3432924149em 7px rgba(255, 0, 239, 0.9), 1.7493182687em 0.2933019215em 7px rgba(255, 0, 7, 0.9), 1.7741471731em 1.3021373417em 7px rgba(255, 0, 44, 0.9), 0.9331788923em 1.9022673481em 7px rgba(35, 0, 255, 0.9), 2.2705384621em -0.2899135385em 7px rgba(255, 83, 0, 0.9), 0.2169694064em 1.5674733226em 7px rgba(255, 215, 0, 0.9);
  animation-duration: 41s;
  animation-delay: -19s; }

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px); }
  to {
    transform: rotate(360deg) scale(18) translateX(20px); } }
/*********** FIN FOND DYNAMIC *******/
.knoot {
  position: fixed;
  width: 300px;
  background: white; }
  .knoot h2 {
    background: white;
    font-size: 15px;
    padding: 3px 5px;
    margin: 0; }
  .knoot p {
    padding: 5px 10px;
    margin: 0; }
  .knoot.knoot-0 {
    z-index: 99;
    top: 130px;
    left: 400px;
    background-color: #f9c7cb; }
  .knoot.knoot-1 {
    z-index: 98;
    opacity: 0.9;
    transform: scale(0.9);
    top: 300px;
    right: 400px; }
  .knoot.knoot-2 {
    z-index: 97;
    opacity: 0.8;
    transform: scale(0.8);
    top: 500px;
    left: 20px; }
  .knoot.knoot-3 {
    z-index: 96;
    opacity: 0.7;
    transform: scale(0.7);
    top: 60px;
    left: 700px; }
  .knoot.knoot-4 {
    z-index: 95;
    opacity: 0.6;
    transform: scale(0.6);
    top: 750px;
    left: 400px; }
  .knoot.knoot-5 {
    z-index: 94;
    opacity: 0.5;
    transform: scale(0.5);
    top: 450px;
    right: 60px; }
  .knoot.knoot-6 {
    z-index: 93;
    opacity: 0.4;
    transform: scale(0.4);
    top: 600px;
    left: 600px; }
  .knoot.knoot-7 {
    z-index: 92;
    opacity: 0.3;
    transform: scale(0.3);
    top: 10px;
    left: 10px; }
  .knoot.knoot-8 {
    z-index: 91;
    opacity: 0.2;
    transform: scale(0.2);
    top: 800px;
    right: 90px; }
  .knoot.knoot-9 {
    z-index: 90;
    opacity: 0.1;
    transform: scale(0.1);
    left: 1400px;
    top: 90px; }

/*# sourceMappingURL=knooter.css.map */
