		<footer class="footer">
			<div class="container-fluid">
			</div>
		</footer>
		<script src="/js/bdd-datas/script.js"></script>
		<script src="/js/scenario.js"></script>
	</body>
	<!--
	<%- JSON.stringify(data, null, 2) %>
	-->
</html>