@charset "UTF-8";
/* Paramétrage des couleurs */
/* latin-ext */
@font-face {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Dosis.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* Actions et boutons */
#actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row; }
  #actions .button, #actions .btn {
    right: 20px;
    margin-left: 20px;
    padding: 0.375rem 0.75rem;
    background-color: #00c6f9;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    color: white; }
    #actions .button:hover, #actions .btn:hover {
      box-shadow: 0 0 10px #00c6f9; }
    #actions .button:focus, #actions .btn:focus {
      outline: none; }

/* Thumbnail de vidéo pour relancer la vidéo précédente */
#thumbnail {
  position: fixed;
  z-index: 90;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease-in;
  cursor: pointer; }
  #thumbnail.small {
    transform: scale(0.1);
    left: -50%;
    bottom: -50%;
    margin-left: 110px;
    margin-bottom: 75px; }

body {
  padding: 0;
  margin: 0 !important; }
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: radial-gradient(#CECECE, #fff); }

.feedback {
  font-size: 40px;
  font-family: Dosis, sans-serif;
  font-weight: 800;
  text-align: center; }

#ArduinoMessage {
  transition: 0.2s linear all;
  width: 450px;
  height: 450px; }
  #ArduinoMessage.hidden {
    opacity: 0; }
  #ArduinoMessage.first-card-scanned .loader:before {
    box-shadow: 0 -10px 20px 20px #00C6F940 inset, 0 -5px 15px 10px #00C6F950 inset, 0 -2px 5px #00C6F980 inset, 0 -3px 2px #00C6F9BB inset, 0 2px 0px #00C6F9, 0 2px 3px #00C6F9, 0 5px 15px #00C6F990, 0 10px 55px #00C6F960, 0 10px 40px 30px #00C6F940;
    transform: none;
    animation: none; }

.content {
  width: 450px;
  height: 450px;
  border-radius: 100%;
  background: linear-gradient(165deg, white 0%, gainsboro 40%, #aaaaaa 98%, #0a0a0a 100%);
  position: relative; }

.loader {
  line-height: 50px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center; }
  .loader:before {
    transition: 0.2s linear all;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    margin-top: -200px;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset, 0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset, 0 -3px 2px #ffffffBB inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff, 0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
#buttonBar {
  margin-top: 3%; }

#buttonBar button {
  margin-right: 3%; }

.progress-bar {
  background-color: #00c6f9 !important;
  box-shadow: 0 0 10px #00c6f9; }

/*# sourceMappingURL=step-1_code-pas-code.css.map */
