// 
// Config File
//
var app_root = "/home/parallaxe2050/projets/parallaxe2050";
module.exports = app_root;

module.exports = {
  servers : [
 
      {
        name : "parallaxe2050-1",
        ip : "192.168.10.10",
        port : 3000,
        description : "Dispositif Admin Réseau"
      },

      {
        name : "parallaxe2050-2",
        ip : "192.168.10.20",
        port : 3000,
        description : "Dispositif Base de données / DATA"
      },

      {
        name : "parallaxe2050-3",
        ip : "192.168.10.30",
        port : 3000,
        description : "Dispositif Code et Programmation"
      },

      {
        name : "parallaxe2050-4",
        ip : "192.168.10.40",
        port : 3000,
        description : "Dispositif Communication Digitale"
      },

      {
        name : "parallaxe2050-5",
        ip : "192.168.10.50",
        port : 3000,
        description : "Dispositif Hardware"
      },
  ], 

  // Serial Port configuration for rfid reads
  rfid : {
    portName : '/dev/ttyUSB0',
    baudRate : 9600,
    behavior : 'real', // 'real' => means that tags come form USB-Serial port, 'emulated' is just for dev (no usb port reading)
    numReaders : 1
  },

  // Serial Port configuration for Arduino devices communication
  arduino : {
    portName : '/dev/ttyUSB1',
    baudRate : 9600,
  },

  // Application spcific conf
  app : {
    dbPath : app_root + "/data",
    dbSavePath : app_root + "/data/sav"
   }
}


