<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<link type="text/css" href="css/code-et-prog/loader.css" rel="stylesheet">
<link type="text/css" href="css/code-et-prog/code-pas-code.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

<div>
    <div class="container">
        <div id="ArduinoMessage"></div>
    </div>

    <div id="actions">
        <button type="button" id="replay" class="btn btn-secondary">Revoir l'hologramme de Marjorie</button>
        <button type="button" id="reinit" class="btn btn-secondary">Re-scanner les objets connectés</button>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm" id="ArduinoMessage">
            <div class="card">
                <div class="card-body">
                    <p></p>
                </div>
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="col-sm" id="buttonBar">
            <button type="button" id="replay" class="btn btn-secondary">Recontacter Marjorie</button>
            <button type="button" id="reinit" class="btn btn-secondary">Recommencer l'activité</button>
        </div>
    </div>
</div> -->

<script>
$(document).ready(function() {


    // Play the hologramme
    $("#replay").on('click', function(e){
        socket.emit("toserver.play", {});
        e.preventDefault();
    });

    // Re-init activity
    $("#reinit").on('click', function(e){
        initActivity();
        e.preventDefault();
    });

    //
    // Listening to some specific sockets
    //
    socket.on('toclient.initCodePasCode', function(data){
        initActivity();
    });


    // 
    var nextStep = '<%-data.currentStep.transitions[0].id %>';
    var msgElmt = $("#ArduinoMessage");

    function initActivity() {
        // Display staring message
        msgElmt.html(messageInit);
        socket.emit('toserver.initCodePasCode', "init");
    }


    // Displays message in function of student responses
    socket.on('toclient.responseAnalysisCodePasCode', function(data) {
        var progressHTML = progressBar(data.pctCompleted);
        
        if(data.result == "KO") {
            msgElmt.addClass('hidden');
            setTimeout(function(){
                msgElmt.html(messageKO);
                msgElmt.removeClass('hidden');
            }, 200);
        }
        else {
            if (data.pctCompleted < 100) {
                if(data.pctCompleted <= 100/16) {
                    // Stoppe l'animation 2 secondes lors du premier scann
                    msgElmt.addClass('first-element');
                    setTimeout(function(){
                        msgElmt.addClass('hidden');
                        setTimeout(function(){
                            // Affiche le bon message de progression
                            msgElmt.html(messageOK + progressHTML);
                            msgElmt.removeClass('hidden');
                        }, 200);
                    }, 2000);
                }
                else {
                    msgElmt.html(messageOK + progressHTML);
                    msgElmt.removeClass('hidden');
                }
            }
            else {
                msgElmt.addClass('hidden');
                setTimeout(function(){
                    msgElmt.html(messageSuccess);
                    msgElmt.removeClass('hidden');

                    // Envoie la socket
                    setTimeout( function() {
                        socket.emit('toserver.nextStep', {nextStep: nextStep});
                    }, 2000);
                }, 200);
            }
        }
    });
});

    // message Templates
    const messageInit = "<div class='content'><div class='loader'></div></div>";
    const messageSuccess = "<div class='content'><div class='loader'></div></div>";

    const messageOK = "<h2>Scan en cours...</h2>";

    const messageKO = "<h2>Il semblerait que tous les objets ne contiennent pas du code... Recommencez !</h2>";

    const messageCompleted = "<h2>Bravo ! <b>Ici il faut peut-être un message holographique de Marjorie qui félicite les lycéen.ne.s ??</b></h2>";

    function progressBar(pct) {
        return "<div class='progress'>\
                <div class='progress-bar' role='progressbar' style='width: " + pct + "%' aria-valuenow='" + pct + "' aria-valuemin='0' aria-valuemax='100'></div>\
                </div>";
    }

</script>

<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>