<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>
<style>
    body {
        background-color: rgb(255, 0, 116);
        color:indigo;
        margin:2%;
    }
    .jumbotron {
        background-color: honeydew;
    }
    #ArduinoMessage {
    }

    #buttonBar {
        margin-top: 3%;
    }
    #buttonBar button {
        margin-right: 3%;
    }
</style>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Alors...<br/>Code ou pas code ?</h1>
    </div>
    <div class="row">
        <div class="col-sm" id="ArduinoMessage">
            <div class="card">
                <div class="card-body">
                    <p></p>
                </div>
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="col-sm" id="buttonBar">
            <button type="button" id="replay" class="btn btn-secondary">Recontacter Marjorie</button>
            <button type="button" id="reinit" class="btn btn-secondary">Recommencer l'activité</button>
        </div>      
    </div>
</div>

<script>
$(document).ready(function() {
    var msgElmt = $("#ArduinoMessage");
    var msgText = $("#ArduinoMessage p");

    function initActivity() {
        // Display satring message
        msgText.html("<h2>Allez hop, on recommence !</h2><p>J'attends un scan RFID...</p>");
        msgElmt.show();
        socket.emit('toserver.initCodePasCode', "init");
    }

    // Play the hologramme
    $("#replay").on('click', function(e){
        socket.emit("toserver.play", {});
        e.preventDefault();
    });

    // Re-init activity
    $("#reinit").on('click', function(e){
        initActivity();
        e.preventDefault();
    });

    //
    // Listening to some specific sockets
    //
    socket.on('toclient.initCodePasCode', function(data){
        initActivity();
    });
});

</script>
<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>