<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

<div class="container-fluid">
	FICHIER TEMPORAIRE <br>
	Peut-être un fichier qui affiche 2 hologrammes eOK/KO en fonction des réponses Codes/pas Code
	<ul>
		<li>hologramme "Bravo"</li>
		<li>hologramme "Erreur"</li>
	</ul>
</div>

<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>