.container {
    height: 50vh;
}

.typed-text {
    overflow: auto;
}

body {
    background-color:rgb(0, 0, 0);
    color: rgb(18, 134, 18);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cursor {
    display: inline-block;
    width: 18px;
    background-color: rgb(20, 175, 20);
    opacity: 0.7;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%   { background-color: rgb(20, 175, 20); }
    20%  { background-color: rgb(20, 175, 20); }
    50%  { background-color: transparent; }
    80%  { background-color: transparent; }
    100% { background-color: rgb(20, 175, 20); }
}