<%- include('head', { data: data }) %>
<!-- START include here your files in the head -->
<!-- END Include here your files in the head -->
<%- include('header', { data: data }) %>

<div class="container-fluid">
</div>

<!-- START include here your files in the footer -->
<!-- END include here your files in the footer -->
<%- include('footer', { data: data }) %>