<div id="graphiques-parameters-1" class="graphiques-parameters">
	<h2>Datacenters par zone (map)</h2>
	<blockquote>Exemple de lecture du graphique : il y a <strong>1 964</strong> serveurs dans la zone <strong>Amérique du Nord</strong>.</blockquote>
</div>

<div id="graphique1"></div>