<button id="green-button" class="badge-button" style="border: 0; padding: 5px 10px; background-color: #17da7e; color: white; font-weight: 800;">Emulate green badge</button>
<button id="purple-button" class="badge-button" style="border: 0; padding: 5px 10px; background-color: #c208fb; color: white; font-weight: 800;">Emulate purple badge</button>
<hr />